<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bottombarnavigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Slim.CountDown"></activity>
        <activity android:name=".Slim.Shoulder_bridge" />
        <activity android:name=".Slim.Walking_lunge" />
        <activity android:name=".Slim.Backward_lunge" />
        <activity android:name=".Slim.Air_squat" />
        <activity android:name=".Slim.Exercises" />
        <activity android:name=".Slim.DailyTask" />
        <activity android:name=".Slim.SlimMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>